<!DOCTYPE html>
<html>
<head>
    <title>Edit Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Edit Employee</h1>
    <form method="POST">
        <label>Name:</label>
        <input type="text" name="name" value="{{ employee.name }}" required><br>
        <label>Departemnt:</label>
        <input type="text" name="department" value="{{ employee.department }}" required><br>
        <button type="submit">Update</button>
    </form>
    <a href="{{ url_for('employee.index') }}">Cancel</a>
</body>
</html>